<div class="max-w-screen-lg m-auto mt-6 flex flex-col">
	<typography variant="h1" class="color-off-surface mb-4">June 2024</typography>

	<div class="flex gap-4 flex-wrap">
		<ng-container *ngFor="let item of budget">
			<monetary-block bgClass="surface" (click)="handleCategoryClick(item)">
				<monetary-block-title>{{item.label | titlecase}}</monetary-block-title>
				<monetary-block-value-negative>- {{item.value | currency: 'BRL'}}</monetary-block-value-negative>
				<monetary-block-subvalue>{{item.limit | currency: 'BRL'}}</monetary-block-subvalue>
			</monetary-block>
		</ng-container>
	</div>

	<div class="mt-8">
		<typography variant="h2" class="color-off-surface mb-3">Stats</typography>

		<div class="flex gap-4 flex-wrap">
			<monetary-block bgClass="bg-green-100">
				<monetary-block-icon-check />
				<monetary-block-title>Total</monetary-block-title>
				<monetary-block-value class="text-green-600 font-bold">{{ total | currency:'BRL' }}</monetary-block-value>
			</monetary-block>

			<monetary-block bgClass="surface">
				<monetary-block-title>Budget</monetary-block-title>
				<monetary-block-value class="font-bold">{{ 14500 | currency:'BRL'}}</monetary-block-value>
			</monetary-block>
		</div>
	</div>

	<expense-list drawer [transactions]="transactions" />
</div>