<div class="max-w-screen-lg m-auto mt-6">
	<typography variant="h2" class="ml-36">2024</typography>
	<table class="w-full text-left table-auto">
		<thead>
			<tr class="text-gray-500">
				<th class="py-2 w-36 "></th>
				<th class="py-2 min-w-24">May</th>
				<th class="py-2 min-w-24">June</th>
				<th class="py-2 min-w-24">July</th>
				<th class="py-2 min-w-24">August</th>
				<th class="py-2 min-w-24">September</th>
				<th class="py-2 min-w-24">October</th>
				<th class="py-2 min-w-24">November</th>
				<th class="py-2 min-w-24">December</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pl-4 flex items-center gap-2"><span class="material-symbols-rounded">
						credit_card
					</span> Rico</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
			</tr>
			<tr>
				<td class="pl-4 flex items-center gap-2"><span class="material-symbols-rounded">
						credit_card
					</span> Inter</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
				<td class="py-2">2.300</td>
			</tr>
			<tr>
				<td class="pl-4 flex items-center gap-2"><span class="material-symbols-rounded">
						store
					</span> Gabrr</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
				<td class="py-2">2.200</td>
			</tr>
			<tr>
				<td class="font-bold pl-4">Total</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
				<td class="py-2">4.600</td>
			</tr>
			<tr class="font-bold bg-green-200">
				<td class="pl-4 rounded-l-xl">
					<div class="flex items-center">
						<p class="text-green-900">Wealth</p>
						<span class="material-symbols-rounded text-green-900">arrow_upward_alt</span>
					</div>
				</td>
				<td class="py-2 text-green-900">33.000</td>
				<td class="py-2 text-green-900">45.000</td>
				<td class="py-2 text-green-900">60.000</td>
				<td class="py-2 text-green-900">73.400</td>
				<td class="py-2 text-green-900">98.000</td>
				<td class="py-2 text-green-900">103.000</td>
				<td class="py-2 text-green-900">105.000</td>
				<td class="py-2 text-green-900 rounded-r-xl">105.000</td>
			</tr>
		</tbody>
	</table>
</div>